nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.2rem;
}

nav a{
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
    background: black;
    padding: 1rem;
    border: black 0.2rem solid;
    border-radius: 30px;
}

nav a:hover{
    background: whitesmoke;
    color: black;
}

.main-children{
    margin: 2rem 10rem;
}